@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
body
{
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Licorice', cursive;
}


h1, h2
{
  font-family: 'Licorice', cursive;
  text-align: center;
}


.strand{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  
}

/*.box
{
  position: relative;
  width: 500px;
  height: 500px;
  background: #fb0f0f;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0 0 100px rgba(255,255,255,1), 0 20px 50px rgba(0, 0, 0, 0.5);
}

.box img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
}

.box :before{
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffff;
}

.box :after
{
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 250px;
  z-index: 2;
  border-radius: 50%;
  background: linear-gradient(0 deg, transparent, rgba(255, 225, 255, 0.5););
}


.snow{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: img/snow.png;
  z-index: 2;

}

.snow:nth-child(1){
  animation: animate 10s linear infinite;
}
/*
